<p>ようこそ <%= current_user.name %> さん
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete  %>
</p>
<p>
  <%= link_to '新しいイベントを登録する', new_event_path, class: "btn btn-primary" %>
  <%= link_to 'ユーザ情報を変更する', edit_user_registration_path, class: "btn btn-default" %>
</p>
<h3>近日開催</h3>
<%= render partial: "index_event", locals: {events: @upcomings} %>

<h3>開催済み</h3>
<%= render partial: "index_event", locals: {events: @ends} %>
