<h1>Listing events</h1>
<h3>Upcoming</h3>
<table class="table">
  <thead>
    <tr>
      <th>Opendate</th>
      <th>Title</th>
      <th>Fee</th>
      <th>Limit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @upcomings.each do |event| %>
      <tr>
        <td><%= event.opendate %> <%= event.opendate_memo %></td>
        <td><%= event.title %></td>
        <td><%= event.fee %></td>
        <td><%= event.limit %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Ended</h3>

<table class="table">
  <thead>
    <tr>
      <th>Opendate</th>
      <th>Title</th>
      <th>Fee</th>
      <th>Limit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ends.each do |event| %>
    <tr>
      <td><%= event.opendate %> <%= event.opendate_memo %></td>
      <td><%= event.title %></td>
      <td><%= event.fee %></td>
      <td><%= event.limit %></td>
      <td><%= link_to 'Show', event %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
