<div id="row">
    <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="event">
          <%= image_tag events_picture_path(event.id,"main") %>
          <br/>
          <strong><%= link_to event.title, event %></strong><br/>
          <span>開催日:</span> <%= event.opendate %><br/>
          <span>Hosted by:</span> <%= event.user.name %><br/>
        </div>
      </div>
    <% end %>

</div>
<div id="row">
  <div class="col-md-12">
    <p>Want to post your own event?</p>
    <p>
    <%= link_to 'Log in', events_path, class: "btn btn-default" %>
    <%= link_to 'Sign up', events_path, class: "btn btn-default" %>
    </p>
  </div>
</div>
