<h1><%= @event.title %></h1>
<div class="row">
<table class="table col-md-6">
  <tr>
    <th>主催者</th>
    <td><%= link_to @event.user.name, events_by_path(@event.user.id) %></td>
  </tr>
  <tr>
    <th>日時</th>
    <td><%= @event.opendate %> <%= @event.opendate_memo %></td>
  </tr>
  <tr>
    <th>場所</th>
    <td><%= @event.address %></td>
  </tr>
  <tr>
    <th>参加費</th>
    <td><%= @event.fee %></td>
  </tr>
  <tr>
    <th>定員</th>
    <td><%= @event.limit %></td>
  </tr>
  <tr>
    <th>概要</th>
    <td><%= @event.desc_short %></td>
  </tr>
  <tr>
    <th>URL</th>
    <td>
      <%= (link_to @event.url) if @event.url %>
      <%= @event.url_facebook %>
      <%= @event.url_twitter %>
    </td>
  </tr>
</table>
<div class="col-md-6">
  <p>
    <%= @event.desc_long %>
  </p>
  <%= image_tag events_picture_path(@event.id), class: "img-rounded" %>
</div>
</div>
<hr/>
<% if user_signed_in? && current_user.id == @event.user_id %>
<div class="row">
  <div class="col-md-12">
<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-default" %>
<%= link_to 'Back', events_path, class: "btn btn-default" %>
</div>
</div>
<% end %>
