<h1><%= @event.title %></h1>
<div class="row event-detail">
  <div class="col-md-6">
    <p><%= @event.desc_short.gsub("\n","<br/>").html_safe %></p>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= @event.desc_long.gsub("\n","<br/>").html_safe %>
      </div>
    </div>
    <table class="table">
      <tr>
        <th><span class="glyphicon glyphicon-time"></span> 日時</th>
        <td><%= @event.opendate_short %></td>
      </tr>
      <tr>
        <th><span class="glyphicon glyphicon-map-marker"></span> 場所</th>
        <td><%= @event.address_title %><br/>
        <small><%= @event.postal %> <%= @event.address %></small>
        </td>
      </tr>
      <tr>
        <th style="white-space: nowrap"><span class="glyphicon glyphicon-user"></span> 主催者</th>
        <td><%= link_to @event.user.name, events_by_path(@event.user.id) %></td>
      </tr>
      <tr>
        <th><span class="glyphicon glyphicon-yen"></span> 参加費</th>
        <td><%= @event.fee %>円<br/><small><%= @event.fee_memo %></small></td>
      </tr>
      <tr>
        <th><span class="glyphicon glyphicon-plus"></span> 定員</th>
        <td><%= @event.limit_short %></td>
      </tr>
      <tr>
        <th>URL</th>
        <td>
          <%= (link_to @event.url) if @event.url %><br/>
          <%
          f = image_tag '/images/facebook.png', class: "icon"
          t = image_tag '/images/twitter.png', class: "icon"
          %>
          <%= link_to f, @event.url_facebook if @event.url_facebook.present? %>
          <%= link_to t, @event.url_twitter if @event.url_twitter.present? %>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <%= image_tag events_picture_path(@event.id,"main"), class: "img-rounded" %>
    <br/><br/>
    <div class="row">
      <div class="col-md-4">
        <%= (link_to (image_tag events_picture_path(@event.id,"1"), class: "img-rounded"), events_picture_path(@event.id,"1")) if @event.picture_1 %>
      </div>
      <div class="col-md-4">
        <%= (link_to (image_tag events_picture_path(@event.id,"2"), class: "img-rounded"), events_picture_path(@event.id,"2")) if @event.picture_2 %>
      </div>
      <div class="col-md-4">
        <%= (link_to (image_tag events_picture_path(@event.id,"3"), class: "img-rounded"), events_picture_path(@event.id,"3")) if @event.picture_3 %>
      </div>
    </div>
  </div>
</div>
<hr/>
<% if user_signed_in? && current_user.id == @event.user_id %>
<div class="row">
  <div class="col-md-12">
    <%= link_to '編集', edit_event_path(@event), class: "btn btn-default" %>
    <%= link_to '一覧に戻る', events_path, class: "btn btn-default" %>
  </div>
</div>
<% end %>
