<!DOCTYPE html>
<html>
<head>
  <% if isEventPage? %>
    <title><%= @event.title %> - <%= @event.host.present? ? @event.host : @event.user.name %></title>
    <meta property="og:title" content="<%= @event.title %> - <%= @event.host.present? ? @event.host : @event.user.name %>">
    <meta property="og:site_name" content="360 Board">
    <meta property="og:description" content="<%= @event.desc_short %>">
    <meta name="description" content="<%= @event.desc_short %>"/>
    <meta property="og:image" content="<%= events_picture_url(@event.id,"main") %>">
    <meta name="keywords" content="" />
  <% else %>
    <title>360 Board</title>
    <meta property="og:site_name" content="360 Board">
    <meta property="og:description" content="">
    <meta name="description" content=""/>
    <meta name="keywords" content="360,イベント情報,宮崎,西臼杵,高千穂" />
  <% end %>
  <meta property="og:url" content="<%= request.url %>" />
  <%= javascript_include_tag 'application' %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script>
  ( function(d, s, id) {
    var js,
    fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id))
      return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1471100926452630&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <% if notice %>
    <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-warning"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render 'layouts/google_ad' %>
  </div>
  <footer class="footer">
    <div class="container">
      <a href="https://github.com/lumbermill/events.lmlab.net">GitHub</a>
      &nbsp;
      <a href="http://www.lumber-mill.co.jp/notes/">LumberMill, Inc.</a>
    </div<
  </footer>
</body>
</html>
